:root {
  --background: #fbfbff;
  --foreground: #171717;
  --pagination-bar-height: 96px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #fbfbff;
    --foreground: #171717;
  }
}

html,
body {
  max-width: 100vw;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  color: var(--foreground);
  background: var(--background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

i {
  font-style: italic;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
