name: API Test

on:
  push:
    branches: [main]
    paths:
      - "api/**"
      - ".github/workflows/api-api-test.yaml"
  pull_request:
    branches: [main]
    paths:
      - "api/**"
      - ".github/workflows/api-api-test.yaml"

defaults:
  run:
    working-directory: api

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.14"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run tests
        
        run: |
          echo "Running tests"
          pytest tests/ -v --tb=short
