name: API Test

on:
  push:
    branches: [main]
    paths:
      - "api/**"
      - ".github/workflows/api-test.yaml"
  pull_request:
    branches: [main]
    paths:
      - "api/**"
      - ".github/workflows/api-test.yaml"

defaults:
  run:
    working-directory: api

jobs:
  unit:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.12"
      - name: Install dependencies
        run: pip install -r requirements.txt
      - name: Run tests with pytest-cov
        run: |
          pytest -c pytest.unit.ini --cov=./ --cov-report=html

      - name: Upload Coverage HTML Report
        uses: actions/upload-artifact@v4
        with:
          name: python-coverage-report
          path: htmlcov/
          retention-days: 1
          
         
  e2e:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up docker buildx
        uses: docker/setup-buildx-action@v3
      - name: Build docker image
        run: docker build -t built-image .
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.12"

      - name: Initialise container
        run: |
          docker compose -f docker-compose.test.yaml up -d
          sleep 20 # Wait for the container to be ready
        env:
          SECRET_KEY: ${{ secrets.E2E_SECRET_KEY }}
      
      - name: Initalise Python
        uses: actions/setup-python@v6 
        with:
          python-version: "3.12"

      - name: Run tests
        run: |
          pip install -r requirements.txt
          echo "Running tests"
          pytest -c pytest.e2e.ini -v --tb=short 